* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

body {
    background: #F5F5F5;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-adress {
    max-width: 690px;
    width: 100%;
    padding: 8px 12px 8px 32px;
    background: url(../img/House.svg) no-repeat 10px center;
}

.input-adress::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #BFBFBF; 
}

.input {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    outline: none;
}

.section__header {
    margin-top: 44px;
    margin-bottom: 40px;
}

.logo  {
    max-height: 40px;
}

.logo__img {
    max-height: 40px;
    height: 100%;
}

.button {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 19px 8px 33px;
    border: none;
    border-radius: 2px;
    margin-left: 9px;
    cursor: pointer;
}

.button__man {  
    background: url(../img/Man.svg) no-repeat 16px center;
}
.button__man:hover {
    filter: hue-rotate(30deg);
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.button__cart:hover {
    filter: hue-rotate(30deg);
    transform: scale(1.2);
    transition-duration: 0.5s;
}
.button__bin {
    padding: 8px 36px 8px 16px;
    margin-left: 0px;
    margin-right: 32px;
    background: url(../img/bin.svg) no-repeat 100px center;
}

.button--primary {
    background-color: #1890FF;
    color: #fff;
    border: 1px solid #1890FF
}

.button__cart {  
    background: url(../img/Trash.svg) no-repeat 16px center;
}

.button--secondary {
    border: 1px solid #D9D9D9;
}

.promo__block {
    background: #FFF1B8 url(../img/Promo.png) no-repeat right center;
    padding: 68px 0;
    padding-left: 70px;
    border-radius: 10px;
    filter: drop-shadow(0px 7px 12px rgba(158, 158, 163, 0.1));
}

.promo__info {
    max-width: 530px;
    width: 100%;
}

.promo__title {
    margin-bottom: 17px;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    
    color: #302C34;
}

.promo__desc {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    color: #302C34;   
}

.section__restourants {
    padding-top: 56px;
    padding-bottom: 90px;
}

.restour__search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.section__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;    
}

.input-search {
    max-width: 306px;
    width: 100%;
    padding: 5px 12px 5px 32px;
    background: url(../img/Lupa.svg) no-repeat 10px 6px;
}


.input-search::placeholder {
    line-height: 24px;
    color: #BFBFBF; 
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    max-width: 384px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    margin-bottom: 30px;
}

.card:hover {
    transform: translateY(-10px);
    transition-duration: 1s;
}

.card__main {
    padding: 21px 24px 35px;
}

.card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.title__time {
    background: #262626;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
    padding: 3px 8px;
}

.card__desc {
    display: flex;
    justify-content: start;
    align-items: center;
}

.card__reit {
    margin-left: 22px;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #FFC107;
}

.card__reit::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: -22px;
    background: url(../img/Reit.svg) no-repeat center / cover;
}

.card__price {
    margin-left: 26px;
    color: #8C8C8C;
}

.card__category {
    color: #8C8C8C;
    position: relative;
    margin-left: 25px;
}

.card__category::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -15px;
    margin-top: -3px;
    width: 5px;
    height: 5px;
    background: #8C8C8C;
    border-radius: 50%;
}

.section__footer {
    background: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 60px;
}

.block__navigation {
    display: flex;
    align-items: center;
}

.navigation__footer {
    margin-left: 36px;
}

.nav-item {
    line-height: 21px;
    color: #595959;
    margin-right: 15px;
    text-decoration: none;
}

.socials {
    display: flex;
    align-items: center;
}

.social-img {
    margin-left: 25px;
}

.nav-item:hover {
    color: black;
    transform: scale(1.1);
}
.restour__desc {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.restour__reit {
    display: flex;
    align-items:center;
    margin-bottom: 37px;
}

.product__desc {
    max-width: 350px;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
    color: #8C8C8C;
    margin-bottom: 25px;
}

.product__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}


.product__price {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}

.social-link .inst {
    margin-left: 0;
}

/*модальное окно*/
.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.5);
}

.modal-block {
    position: relative;
    top: 50%;
    margin: auto;
    margin-top: -275px;
    max-width: 780px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 40px 45px;
    
}

.cart-and-close {
    margin-bottom: 45px;
}

.modal-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.button-closed {
    position: absolute;
    top: 50px;
    right: 45px;
    width: 25px;
    height: 25px;
    background: url(../img/krestick.svg) no-repeat center;
    border: none;
    cursor: pointer;
}

.modal-body {
    margin-bottom: 53px;
}

.cart-string {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 14px;
    padding-bottom: 14px;
}

.name-dish {
    font-weight: normal;
    font-size: 18px;
}

.price-count {
    display: flex;
    align-items: center;
}

.price-dish {
    margin-right: 48px;
}

.button-count {
    width: 39px;
    height: 32px;
    border:1px solid #1890FF;
    background: transparent;
}

.button-cancel {
    background: white;
}

.count {
    margin-left: 13px;
    margin-right: 13px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-modal--footer .button {
    padding: 8px 16px;
}

.fullprice {
    padding:  15px 20px;
    background-color: #262626;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: white;
}

/*переключатель*/

.open {
    display: block;
    visibility: visible;
}



/* адаптация под экраны */
/* если шишрина экрана стала <= 1200px */
@media (max-width: 1240px) {
    .container {
        width: 95%;
    }
    .logo {
        display: none;
    }
    .cards {
        justify-content: space-around;
    }
    .card {
        max-width: 40%;
    }
    .card__img {
        width: 100%;
    }
}

@media (max-width: 980px) {
    .header__buttons {
        display: flex;
    }
    .section__header .logo {
        display: none;
        order: 1;
    }
    .input-adress {
        width: 75%;
    }
    .promo__block {
        background: #FFF1B8;
    }
    .card {
        max-width: 384px;
    }
}

@media (max-width: 860px) {
    .card {
        max-width: 300px;
    }
}

@media (max-width: 680px) {
    .section__header .logo {
        display: block;
        order: 1;
    }
    .input-adress {
        width: 100%;
        order: -1;
        margin-bottom: 20px;
    }
    .block__header {
        flex-wrap: wrap;
    }
    .header__buttons {
        display: flex;
    }
    .header__buttons .button--primary {
        margin-left: 0;
    }
    .section__header .logo {
        order: 0;
    }
    .section__header {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .block__footer {
        flex-wrap: wrap;
        justify-content: center;
    }
    .container_rest {
        margin-right: 0;
    }
    .section__restourants {
       padding-top: 10px;
    }
    .restour__search {
        justify-content: center;
    }
    .restour__search h2{
        display: none;
    }
    .restour__search input {
        max-width: 75%;
    }
    .card {
        max-width: 75%;
    }
    .block__navigation {
        margin-bottom: 20px;
    }
    .section__footer {
       padding: 20px 0; 
    }
    .navigation__footer .nav-item:last-child {
        margin: 0;
    }
    .section__promo {
        display: none;
    }
}

@media (max-width: 500px) {
    .name-dish {
        max-width: 40%;
    }
} 


@media (max-width: 480px) {
    .input-adress {
        width: 100%;
        order: -1;
        margin-bottom: 20px;
    }
    .block__header {
        flex-wrap: wrap;
    }
    .header__buttons {
        display: flex;
    }
    .header__buttons .button--primary {
        margin-left: 0;
    }
    .section__header .logo {
        order: 0;
    }
    .section__header {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .card {
        max-width: 90%;
    }
    .restour__search {
        margin-bottom: 20px;
    }
    .navigation__footer {
        display: none;
    }
    .section__restourants {
        padding-bottom: 20px;
    }
    .tanuki_price {
        display: none;
    }
    .modal-block {
        top: 35%;
        padding: 40px;
    }
    .price-dish {
       margin-right: 20%;
    }
    .count-block {
        max-width: 20%;
    }
    .modal-footer {
        display: block;
    }
    .fullprice_container {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .fullprice {
        padding: 5px 5px;
    }
    .buttons-modal--footer {
        display: flex;
        justify-content: center;
    }
    .modal_primary_button {
        margin-left: 0;
    }
}

@media (max-width: 375px) {
    .modal-block {
        padding: 20px;
    }
    .button-closed {
        margin-bottom: 10px;
    }
    .cart-and-close {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
    }
    .button-closed {
        position: relative;
        top: 5px;
        right: 0;
    }
}

@media (max-width: 350px) {
    .block__header {
        justify-content: center;
    }
    .logo {
        order: -1;
        margin-bottom: 10px;
    }
    .input-adress {
        order: 0;
    }
    .modal-block {
        top: 40%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .modal-title {
        margin-bottom: 5px;
    }
    .cart-string {
        padding: 5px 0 ;
    }
    .fullprice {
        width: 60px;
        font-size: 15px;
        padding: 5px 5px;
        margin-bottom: 10px;
    }
    .modal-footer {
        display: block;
    }
    .buttons-modal--footer {
        display: flex;
    }
    .name-dish {
        margin-right: 5%;
        max-width: 40%;
    }
    .price-dish {
        max-width: 40%;
        margin-right: 10%;
     }
     .count-block {
         max-width: 20%;
     }
}